@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/primeflex/themes/saga-blue.css';

.surface-overlay {
    background-color: #171a2e !important;
}

.text-color {
    color: #ffffff !important;
}

.text-success {
    color: greenyellow;
}

.text-danger {
    color: red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
